body, html{
    margin: 0;
    padding: 0;
    overflow: auto;
}

.imagen{
    display: flex;
    height: 715px;
}

.textConsultorioJuridico{
    margin-left: 20px;
    font-weight: 400;
    line-height: 1.6;
    max-width: 1300px;
    color: rgb(104, 104, 104);
}

.columnas{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.titulo{
    margin-left: 20px;
    color: #1239e9;
    font-size: 20px;
    font-weight: 600;
}

.imgAreaJurudica{
    width: 645px;
    margin: 15px;
}

.consultaReglamentoConsultorioJuridico{
    background-color: #3c3c3c;
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 1px;
    margin: 15px;
}

.consultorioJuridicoPurpura{
    background-color: #724BA2;
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 1px;
    margin: 15px;
}