body, html{
    margin: 0;
    padding: 0;
    overflow: auto;
}

.titulo {
    color: #f7b924;
    font-size: 30px;
    font-weight: 700;
    margin-left: 0.7%;
    margin-bottom: 0;
}
  
.hrTitulo {
    border: none;
    height: 3px;
    background: rgba(117, 117, 117, 0.295);
    margin-top: 0;
    margin-bottom: 30px;
}

.columnas{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.imgAtencionPsicologica{
    margin-left: 10px;
    width: 650px;
    height: 230px;
}

.textAtencionPsicologica{
    margin-top: 0;
    max-width: 655px;
    font-size: 20px;
    font-weight: 300;
    text-align: justify;
}

.titulo2 {
    color: #f7b924;
    font-size: 26px;
    font-weight: 700;
    margin-left: 0.7%;
    margin-bottom: 0;
}

.textSegundaColumna{
    margin-left: 20px;
}

.tituloAtencionPsicologica{
    font-size: 25px;
}

.nombreAutor{
    text-align: end;
    font-size: 20px;
}
