body, html{
    margin: 0;
    padding: 0;
    overflow: auto;
}

.imagen{
    display: flex;
    height: 510px;
}

.titulo {
    color: rgb(19, 19, 138);
    font-size: 150%;
    font-weight: 700;
    margin-left: 0.7%;
    margin-bottom: 0;
}
  
.hrTitulo {
    border: none;
    height: 2px;
    background: rgba(117, 117, 117, 0.295);
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: 8px;
    margin-right: 8px;
}

.columnaCampus{
    display: flex;
    align-items: flex-start;
}

.campus{
    margin-left: 20px;
    width: 850px;
    height: 500px;
}

.map-responsive{
    position: relative;
    margin-top: 35px;
    margin-left: 10px;
    width: 450px;
    height: 420px;
    overflow: hidden;
    border-radius: 8px;
  }