<form method="POST" action="{% url 'enviar_contacto' %}">
  {% csrf_token %}

  <div class="formularioContacto">
    <div class="columna3">
      <p class="pFormularioContacto">Nombres y Apellidos</p>
      <input type="text" name="nombre" placeholder="Nombres y Apellidos" required>
        
      <p class="pFormularioContacto">Correo Electrónico</p>
      <input type="email" name="email" placeholder="Correo Electrónico" required>
        
      <p class="pFormularioContacto">Asunto</p>
      <input type="text" name="asunto" placeholder="Asunto" required>
        
      <p class="pFormularioContacto">Carrera de Interés</p>
      <select name="carrera" required>
        <option value="">Seleccione una opción</option>
        <option value="Pregrado en Derecho">Pregrado en Derecho</option>
        <option value="Pregrado en Trabajo Social">Pregrado en Trabajo Social</option>
        <option value="Pregrado en Psicología">Pregrado en Psicología</option>
        <option value="Pregrado en Comunicación">Pregrado en Comunicación</option>
        <option value="Posgrado en Intervención Comunitaria">Posgrado en Intervención Comunitaria</option>
        <option value="Posgrado en Derecho Administrativo">Posgrado en Derecho Administrativo</option>
        <option value="Cursos y Diplomados">Cursos y Diplomados</option>
      </select>
    </div>

    <div class="columna3">
      <p class="pFormularioContacto">Número de Documento de Identidad:</p>
      <input type="tel" min="0" name="documento" placeholder="Número de identidad" required>
        
      <p class="pFormularioContacto">Teléfono:</p>
      <input type="tel" name="telefono" placeholder="Número de teléfono" required>
        
      <p class="pFormularioContacto">Descripción:</p>
      <textarea name="descripcion" placeholder="Descripción" required></textarea>
    </div>
  </div>
    
  <hr class="hrFormularioContacto">
    
  <div class="checkbox-container">
    <label class="textoFormulario">
      <input type="checkbox" id="checkboxAcepto" name="acepto" required> Acepto
    </label>
  </div>

  <p class="textoFormulario">
    En cumplimiento de la Ley 1581 de 2012 y sus decretos reglamentarios, 
    en calidad de titular(es) de la información de manera libre, expresa e 
    informada, autorizo a la CORPORACION UNIVERSITARIA AUTONOMA DEL NORTE 
    y/o a la persona natural o jurídica a quien este encargue a recolectar, 
    almacenar, utilizar, circular, suprimir y en general, a usar mis datos 
    personales. Declaro que he conocido la Política de tratamiento de datos 
    personales.
  </p>
    
  <p class="textoFormulario">Gracias por tu opinión.</p>
    
  <hr class="hrFormularioContacto">
    
  <button class="botonEnviar" id="botonEnviar" disabled>ENVIAR</button>

  <hr class="hrFormularioContacto">
</form>  