body, html{
    margin: 0;
    padding: 0;
    overflow: auto;
}

.imagen{
    display: flex;
    height: 630px;
}

.columnas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin: 15px;
}

.subColumna{
    display: flex;
    align-items: flex-start;
    gap: 4px;
    margin-bottom: 20px;
}

.subColumna a{
    display: block;
    transition: transform 0.2s ease;
    text-decoration: none;
}

.subColumna a:hover{
    transform: scale(1.1);
}

.imgBibliotecas{
    width: 90px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 15px;
}

.p1{
    color: #0057FF;
    text-align: center;
}

.p2{
    font-weight: 400;
    color: #6D6D6D;
    line-height: 1.6;
}