body, html {
    margin: 0;
    padding: 0;
    overflow: auto;
    font-family: 'Montserrat', sans-serif;
}

body img{
    pointer-events: none;
}

.imagen {
    width: 100%;
    max-height: 520px;
    overflow: hidden;
}

.imagen img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.UAnorte-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 15px;
    padding: 10px;
    max-width: 1340px;
    margin: 20px auto;
    justify-items: center;
}

.UAnorte-grid a {
    display: block;
    transition: transform 0.3s ease;
}

.UAnorte-grid a:hover {
    transform: scale(1.05);
}

.UAnorte-grid img {
    width: 100%;
    max-width: 325px;
    height: auto;
    display: block;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* =============== RESPONSIVE =============== */

@media (max-width: 1024px) {
    .imagen {
        max-height: 420px;
    }
    .UAnorte-grid {
        padding: 8px;
        gap: 10px;
    }
    .UAnorte-grid img {
        max-width: 280px;
    }
}

@media (max-width: 768px) {
    .imagen {
        max-height: 350px;
    }
    .UAnorte-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    .UAnorte-grid img {
        max-width: 240px;
    }
}

@media (max-width: 480px) {
    .imagen {
        max-height: 260px;
    }
    .UAnorte-grid {
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 15px;
    }
    .UAnorte-grid img {
        max-width: 90%;
    }
}