body, html{
    margin: 0;
    padding: 0;
    overflow: auto;
}

.imagen{
    display: flex;
    height: 620px;
}

.titulo {
    color: rgb(19, 19, 138);
    font-size: 150%;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.hrTitulo {
    border: none;
    height: 3px;
    background: rgba(117, 117, 117, 0.295);
    margin-top: 0;
    margin-bottom: 30px;
}

.columnas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px;
}

.columna1{
    margin-left: 20px;
}

.img{
    width: 645px;
}

.subColumnas{
    display: flex;
    align-items: flex-start;
}

.titulo2 {
    color: rgb(95, 95, 95);
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 0;
}

.iconUAnorte{
    margin-top: 20px;
    width: 65px;
    height: 65px;
    margin-left: 10px;
    margin-bottom: 0;
}

.hrSubTitulo {
    border: none;
    height: 2px;
    background: rgba(117, 117, 117, 0.295);
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    width: 100%;
}


.text{
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
    max-width: 600px;
}

#textColumna1{
    margin-left: 30px;
}

#imgColumna2uno{
    margin-top: 80px; 
}

#imgColumna2{
    margin-top: 140px;
}

.Enlaces{
    margin-bottom: 4px;
}

.contenedorEnlaces {
    display: flex;
    justify-content: center; 
    align-items: center;    
    flex-wrap: wrap;         
    gap: 30px;               
}
  
.imgEnlaces {
    width: 250px;  
    margin: 0 20px;
    vertical-align: middle;
    transition: transform 0.3s;
}
  
.imgEnlaces:hover {
    transform: scale(1.05); 
}
  
.imgEnlacesCiencia{
    width: 210px;
    margin: 0 20px;
    vertical-align: middle;
    transition: transform 0.3s;
}
  
.imgEnlacesCiencia:hover{
    transform: scale(1.05); 
}

.imgFases{
    width: 130px;
}

.textSubColumnaOscuro{
    font-size: 22px;
    margin-left: 2px;
}

.textSubColumnaClaro {
    list-style: none;
    padding-left: 0; 
}

.textSubColumnaClaro li {
    position: relative;
    padding-left: 1em; 
    font-size: 16px;
    font-weight: 500;
    color: rgb(56, 56, 56);
    line-height: 2;
}

.textSubColumnaClaro li::before {
    content: "●";
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    position: absolute;
    left: 0;
    top: 0.2em; 
    line-height: 1.2;
}
