body, html{
    margin: 0;
    padding: 0;
    overflow: auto;
    font-family: 'Montserrat', sans-serif;
}

.imagen{
    display: flex;
    height: 630px;
}

.PDF{
    margin: 10px;
}

/* ========== RESPONSIVE  ========== */

@media (max-width: 1024px) {
    .imagen {
        height: auto;
    }

    .imagen img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .PDF iframe {
        height: 500px;
    }
}

@media (max-width: 720px) {
    .imagen {
        height: auto;
        justify-content: center;
    }

    .imagen img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    body {
        font-size: 90%;
    }
}