body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

body img{
    pointer-events: none;
}

.imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    overflow: hidden;
}

.imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div > img {
    display: block;
    width: 100%;
    height: auto;
}

/* ====== RESPONSIVE ====== */

@media (max-width: 1024px) {
    .imagen {
        height: 450px;
    }

    .imagen img {
        object-fit: cover;
    }
}

@media (max-width: 768px) {
    .imagen {
        height: 300px;
    }

    .imagen img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    div > img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 480px) {
    .imagen {
        width: 100%;
        height: auto;
    }

    .imagen img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    div > img {
        width: 100%;
        height: auto;
        margin-top: 5px;
    }
}
