body{
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Montserrat', sans-serif;
}

.modal-custom {
    max-width: 430px;
}

.modal-content {
    padding: 20px 20px 25px 20px;
    border-radius: 12px;
}

.swiper {
    position: relative;
}

.swiper-button-prev,
.swiper-button-next {
    color: #000;
    width: 28px;      
    height: 28px;
    transform: translateY(-5px);
}

.swiper-button-prev {
    left: -18px;  
}

.swiper-button-next {
    right: -18px; 
}

.swiper-slide img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 4%;
    cursor: grab;
}

.swiper-slide img:active {
    cursor: grabbing;
}