body, html {
    margin: 0;
    padding: 0;
    overflow: auto;
    font-family: 'Montserrat', sans-serif;
}

.imagen {
    display: flex;
    justify-content: center; 
    width: 100%; 
}

.imagen img {
    width: 100%; 
    max-width: 100%; 
    height: auto; 
}

.UAnorte-grid {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); 
    gap: 10px;
    padding: 4px;
    max-width: 1340px;
    margin: auto;
    margin-top: 4px;
    margin-bottom: 10px;
}

.UAnorte-grid a {
    display: block;
    transition: transform 0.2s ease;
}

.UAnorte-grid a:hover {
    transform: scale(1.02);
}

.UAnorte-grid img {
    width: 100%; 
    height: auto; 
    display: block;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* ===================== RESPONSIVE ===================== */

@media screen and (max-width: 768px) {

    .UAnorte-grid {
        grid-template-columns: 1fr;
        gap: 15px; 
        padding: 10px;
    }

    .UAnorte-grid img {
        width: 100%; 
        height: auto; 
    }

    .imagen {
        height: auto; 
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .UAnorte-grid img {
        max-width: 100%; 
    }

    .imagen img {
        width: 100%;
        height: auto;
    }
}