body, html{
    margin: 0;
    padding: 0;
    overflow: auto;
}

.imagen{
    display: flex;
    height: 510px;
}
  
.titulo {
    color: rgb(19, 19, 138);
    font-size: 150%;
    font-weight: 700;
    margin-left: 0.7%;
    margin-bottom: 0;
}
  
.hrTitulo {
    border: none;
    height: 2px;
    background: rgba(117, 117, 117, 0.295);
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: 8px;
    margin-right: 8px;
}

.subTitulo {
    color: rgb(133, 133, 133);
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 0;
}

.hrTitulo2{
    border: none;
    height: 2px;
    background: rgba(117, 117, 117, 0.295);
    margin-top: 0;
    margin-bottom: 30px;
}

.ColumnasSIGAC{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    margin: 0;
    padding: 0;
}

.subColumnasSIGAC{
    display: flex;
    align-items: flex-start;
}

.iconUAnorte{
    margin-left: 20px;
    margin-top: 20px;
    width: 60px;   
    height: auto;
}

.textColumnas{
    margin-left: 20px;
    font-weight: 500;
    font-size: 20px;
}

.imgColumnas{
    height: 350px;
    width: 650px;
}

.imgColumnas1{
    margin-left: 10px;
    height: 340px;
    width: 640px;
}