body, html{
    margin: 0;
    padding: 0;
    overflow: auto;
}

.titulo {
    color: rgb(19, 19, 138);
    font-size: 30px;
    font-weight: 700;
    margin-left: 0.7%;
    margin-bottom: 0;
}
  
.hrTitulo {
    border: none;
    height: 2px;
    background: rgba(117, 117, 117, 0.295);
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: 8px;
    margin-right: 8px;
}

.columnas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px;
    gap: 10px;
}

.textBienestar{
    margin-top: 0;
    text-align: justify;
    font-size: 22px;
    font-weight: 400;
}

.imgBienestar{
    width: 650px;
}